@font-face {
    font-family: opendyslexic;
    src: url(/local/accessibility/widgets/fontface/assets/opendyslexic.otf) format('opentype');
}

body.accessibility-fontface-serif, body.accessibility-fontface-serif *:not(i) {
    font-family: none !important;
}

body.accessibility-fontface-sansserif, body.accessibility-fontface-sansserif *:not(i) {
    font-family: sans-serif !important;
}

body.accessibility-fontface-dyslexic, body.accessibility-fontface-dyslexic *:not(i) {
    font-family: opendyslexic !important;
}
