<div class="container" id="{{widgetname}}-container">
    {{> core_admin/setting_configcolourpicker }}
    <button type="button" class="btn btn-light {{widgetname}}-resetbtn">
        {{#str}} reset, local_accessibility {{/str}}
    </button>
</div>
