<table class="table table-hover col-12 col-md-6">
    <thead>
        <tr>
            <th>{{#str}} widget, local_accessibility {{/str}}</th>
            <th>{{#str}} action {{/str}}</th>
        </tr>
    </thead>
    <tbody>{{#widgets}}
        <tr>
            <td>{{displayname}}</td>
            <td>
                <a href="{{baseurl}}?id={{id}}&action=moveup"><i class="fa fa-arrow-up"></i></a>
                <a href="{{baseurl}}?id={{id}}&action=movedown"><i class="fa fa-arrow-down"></i></a>
                <a href="{{baseurl}}?id={{id}}&action=disable"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    {{/widgets}}</tbody>
</table>
