<div class="container" id="accessibility_fontface-container">
    <div class="btn-group-vertical w-100">
        <button type="button" class="btn btn-light accessibility_fontface-resetbtn">
            {{#str}} reset, local_accessibility {{/str}}
        </button>
        <button type="button" class="btn btn-light accessibility_fontface-classbtn" data-value="serif" style="font-family: none !important;">
            {{#str}} serif, accessibility_fontface {{/str}}
        </button>
        <button type="button" class="btn btn-light accessibility_fontface-classbtn" data-value="sansserif" style="font-family: sans-serif !important;">
            {{#str}} sansserif, accessibility_fontface {{/str}}
        </button>
        <button type="button" class="btn btn-light accessibility_fontface-classbtn" data-value="dyslexic" style="font-family: opendyslexic !important;">
            {{#str}} dyslexic, accessibility_fontface {{/str}}
        </button>
    </div>
</div>
