<div class="container" id="{{optionname}}-container">
    {{> core_admin/setting_configcolourpicker }}
    <button type="button" class="btn btn-light {{optionname}}-resetbtn">
        {{#str}} reset, local_accessibility {{/str}}
    </button>
</div>
