<div id="local-accessibility-buttoncontainer" class="local-accessibility-buttoncontainer">
    <button type="button" class="btn btn-primary" title="{{#str}} pluginname, local_accessibility {{/str}}">
        <i class="fa fa-universal-access"></i>
    </button>
</div>
